
/*  
Theme Name: Motion
Theme URI: http://85ideas.com/public-releases/wordpress-theme-motion/
Description: Dark and colorful theme with sweet transparency characteristics. Drop-down categories menu, 2-column layout and widget-ready footer and sidebar.
Author: Sam @ 85ideas	
Author URI: http://85ideas.com/
Version: 1.0.3
Tags: black, blue, green, dark, two-columns, sticky-post, threaded-comments, fixed-width, right-sidebar

	This theme was designed and built for the WordPress CMS and is copyright 85ideas.com.
	Modify, adapt, and customize for your own site at will!

	The CSS, XHTML and design of this theme are released under GPL:
	http://www.gnu.org/licenses/old-licenses/gpl-2.0.html

*/



/************************************************
*          Resets          *
************************************************/
html, body, div, p, span, h1, h2, h3, h4, h5, h6, img, ul, ol, dl, li, dt, dd, blockquote, pre, form, fieldset, label, input, a
{margin:0; padding:0; border:0; vertical-align:baseline; color:#fff;}  
:focus {outline:0;}
body {line-height:1;}
ul, ol {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}



/************************************************
*          General elements       *
************************************************/
body {background:#000 url(images/bodybg.jpg) top center no-repeat fixed; font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; text-align:center; padding-bottom:20px; text-shadow:0 0 4px #444;} 
h1, h2, h3, h4, h5, h6 {font-family:Rockwell, Georgia, Palatino Linotype, Palatino, "Times New Roman", Times, serif;}
a {color:#a8ef9d; text-decoration:none;}
a:hover {}
blockquote {font-style:italic; background:url(images/whitetrans.png); padding:.4em 1em .7em 1em; margin:.7em 0 .3em 0;}
code {font-size:1.1em; font-family:"Bitstream Vera Sans Mono", Monaco, "Lucida Console", monospace;}
kbd, tt {font-size:1.2em;}
hr {border:1px solid #a8ef9d;}
pre {overflow:auto; width:600px; background:url(images/blacktrans.png); padding:1em 1.5em; margin:1em 0; font-size:1.2em; white-space:pre-wrap; /* css3 */}
dl {}
dt {font-weight:bold;}
dd {padding-left:1em;}



fieldset {padding:1.2em; border:1px dashed #a8ef9d;}
legend {padding:.2em .8em; font-size:1.2em; text-transform:capitalize;}
input, textarea, select {font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif; margin:.2em 0; color:#222; font-size:1em;}
input, textarea {padding:.3em;}
input.radio, input.checkbox {background:#fff; padding:2px;}
form label{font-weight:bold; display:block;}



/************************************************
*          General       *
************************************************/
#wrapper {margin:15px auto 10px auto; padding:0; text-align:left; width:980px;}
.cleared {clear:both;}


/************************************************
*          Header       *
************************************************/
#top #topmenu {float:left; width:640px;}
#top #topmenu li {float:left; background:url(images/whitetrans.png); padding:0 .8em .2em .8em; line-height:1.5em; margin:0 .4em .4em 0;}
#top #topmenu li:hover {background:url(images/blacktrans.png);}
#top #topmenu li a {color:#fff; font-size:.75em;}
#top #topmenu li a:hover {color:#a8ef9d;}
#top #topmenu li a.rss {background:url(images/rsstrans.png) left 4px no-repeat; padding-left:17px;}

#top #search {float:right; width:300px; text-align:right;}
#top #search-theme-form input {padding:3px;}
#top #searchbox {width:180px; color:#555; font-size:.75em; border:1px solid #ddd; background:#eee;}
#top #searchbox:hover {background:#fff;}
#top .submitbutton {cursor:pointer; background:url(images/blacktrans.png); color:#fff; font-size:0.8em; padding:.08em; vertical-align:top;}
#top .submitbutton:hover {background:url(images/whitetrans.png);}

#header {padding-bottom:20px;}
#header #logo {float:left; width:480px; margin:35px 0 10px 0;}
#header #logo img {float:left; margin:4px 10px 10px 0;}
#header #logo h1 a {color:#fff; font-size:2em; font-weight:normal; text-shadow:0 0 6px #555;}
#header #logo h1 a:hover {color:#a8ef9d;}
#header #logo #desc {font-size:.8em; color:#ddd; margin-top:.5em; line-height:1.2em;}
#header #headerbanner {float:right; width:468px; margin:30px 0 10px 0; text-align:right; padding:10px; background:url(images/whitetrans.png); font-size:.8em; line-height:1.5em;}
#header #headerbanner h3 {font-size:1.1em; font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;}
#header #headerbanner p a {border-bottom:1px dashed #a8ef9d;}
#header #headerbanner a:hover {background:url(images/blacktrans.png);}

#catnav {width:980px; background:url(images/blacktrans.png);}
#nav li {float:left; background:url(images/blacktrans.png); line-height:2em; margin:5px 0 5px 5px;}
#nav li:hover {background:url(images/blacktrans2.png);}
#nav li a {display:block; margin:0; font-size:0.8em; color:#fff; padding:0 13px;}
#nav li a:hover {color:#afdaff; text-decoration:none; display:block;}
#nav li ul {position:absolute; width:180px; left:-999em; padding-top:5px; margin:0;}
#nav li:hover ul, #nav li.sfhover ul {left:auto;}
#nav li li {padding:0; margin:0; width:180px; line-height:1.5em;}	
#nav li li a {color:#fff; margin:0; padding:7px 13px; background:url(images/blacktrans3.png);}
#nav li li a:hover {color:#afdaff;}
#nav li:hover, #nav li.sfhover { /* prevents IE7 drop-down menu bug (focus on a page element prevents nested menus from disappearing) */
  position: static;}




/************************************************
*          Content      *
************************************************/
#main {padding:30px 0 20px 0;}
#content {float:left; width:640px;}
#contentfull {float:left; width:980px;}
h2#contentdesc {font-weight:normal; font-size:1.3em; padding-bottom:15px;}
h2#contentdesc span {color:#a8ef9d;}

.post {padding:0 0 35px 0;}
.sticky {padding:10px; margin-bottom:35px; background:url(images/blacktrans.png);}
.posttop {background:url(images/blacktrans.png); padding:10px;}
.posttop h2.posttitle a {color:#afdaff; font-size:1.4em;}
.posttop h2.posttitle a:hover {color:#a8ef9d; border-bottom:1px dashed #a8ef9d;}
.postmetatop {text-transform:capitalize; font-size:0.7em; padding-top:8px; line-height:1.5em;}
.postmetatop .categs {float:left; width:450px; background:url(images/categ.png) left 2px no-repeat; padding-left:20px; line-height:16px;}
.postmetatop .categs a:hover {color:#afdaff;}
.postmetatop .date {float:right; width:130px; text-align:right;}
.postmetatop .date span {background:url(images/date.png) left no-repeat; padding-left:20px;}

.postcontent {color:#fff; margin:.8em 0; font-size:0.8em; line-height:1.5em;}
.postcontent h1 {padding:.8em 0; font-size:1.5em;}
.postcontent h2 {padding:.8em 0; font-size:1.4em;}
.postcontent h3 {padding:.8em 0; font-size:1.3em;}
.postcontent h4 {padding:.8em 0; font-size:1.2em;}
.postcontent h5 {padding:.8em 0; font-size:1.1em;}
.postcontent h6 {padding:.8em 0; font-size:1em;}
.postcontent p {padding:.6em 0 .2em 0;}
.postcontent a {border-bottom:1px dashed #a8ef9d;}
.postcontent a:hover {background:url(images/blacktrans.png);}
.postcontent ul, .postcontent ol {padding:.4em 0 .5em 2em;}
.postcontent ul li {list-style:disc;}
.postcontent ol li {list-style:decimal;}

.postmetabottom {background:url(images/whitetrans.png); padding:10px; font-size:0.8em; line-height:1.1em; margin-top:15px;}
.postmetabottom a {color:#fff;}
.postmetabottom a:hover {color:#afdaff;}
.postmetabottom .tags {float:left; width:440px; background:url(images/tags.png) left 1px no-repeat; padding-left:20px; line-height:16px;}
.postmetabottom .readmore {float:right; width:140px; text-align:right;}
.postmetabottom .readmore span {background:url(images/more.png) left 4px no-repeat; padding-left:17px;}

.postmetaauthor {background:url(images/blacktrans.png); padding:10px; font-size:0.8em; line-height:1.1em; margin-top:20px;}
.postmetaauthor .authorpic {float:left; width:60px; }
.postmetaauthor .authordesc {float:right; width:540px; }
.postmetaauthor .authordesc p.theauthor {line-height:1.4em; font-weight:bold;}
.postmetaauthor .authordesc p.thedesc {line-height:1.4em; padding:.8em 0 .2em 0;}
.postmetaauthor .authordesc a {color:#afdaff; border-bottom:1px dashed #afdaff;}
.postmetaauthor .authordesc a:hover {background:url(images/blacktrans.png);}



/************************************************
*          Navigation      *
************************************************/
#navigation {line-height:1.7em; margin-bottom:5px;}
#navigation a {border-bottom:1px dashed #a8ef9d;}
#navigation a:hover {background:url(images/blacktrans.png);}

#navigation .wp-pagenavi a {padding:5px 7px; font-size:.8em; background:url(images/blacktrans2.png); color:#fff; border:none;}
#navigation .wp-pagenavi a:hover {color:#a8ef9d;}
#navigation .wp-pagenavi span.pages, #navigation .wp-pagenavi span.current, #navigation .wp-pagenavi span.extend {padding:5px 7px; font-size:.8em; background:url(images/blacktrans2.png); color:#fff; border:none;}



/************************************************
*          Comments  from theme pixel http://samk.ca/freebies/pixel/    *
************************************************/
#comments {
  margin-bottom: 10px;
  margin-top: 15px;
  background: transparent;
  width: 530px; /* fixes bug in IE7 where putting focus on the text makes it disappear behind the background. yeah, weird. they call it a dimensional bug. */

  padding: 0px 15px 10px 15px;
  color: #fff;
  }
#comments h3 {
  font-size: 10pt;
  font-weight: normal;
  color: #fff;
  margin: 15px 0;
  padding: 0;
  }
#comments p a {
  color: #6598b8;
  }
#comments p a:hover {
  color: #fff;
  }
#comments p {
  padding:0;
  margin: 7px 0;
  }
ul.commentlist, ul.trackback  {
  list-style-type: none;
  margin: 10px 0;
  font-size: 9pt;
  }
.commentlist li, .trackback li {
  margin: 10px 0 15px 0;
  padding: 10px;
  background: transparent url(images/blacktrans.png) repeat scroll 0 0;
  border: 1px solid #040404;
  list-style-type: none;
  }
.commentlist li.alt {

  border: 1px solid #020202;
  border: none;
  margin-top:10px;
  }
.commentlist li.cleared {
  background: transparent;
  border: none;
  }
.commentlist a:hover {
  color: #eee;
  }
.commentlist div.picture {
  float: left;
  margin-bottom:10px;

}

.commentlist .commentbody {
  margin: 0;
  padding: 0;
  position:relative;
  left:12px;
}

.commentlist .commentbody p a {
  text-decoration: underline;
  }
.commentlist cite a{
  font-size: 10pt;
  font-style: normal;
  color: #ddd;
  }
.commentlist small.commentmetadata a {
  color: #666;
  }
.commentlist p {
  color: #dedede;
  }
#respond {
  clear: both;
  margin-top: 15px;
  }
textarea#comment {
  width: 450px;
  background: #fff;
  color: #111;
  padding: 10px;
  }
#comments #submit {
  margin: 0;
  }




/************************************************
*          Sidebar       *
************************************************/
#sidebar {float:right; width:300px; font-size:0.8em; line-height:1.4em; margin-bottom:30px;}
#sidebar ul li.boxed {background:url(images/blacktrans.png); padding:10px; margin-bottom:15px;}
#sidebar h3 {background:url(images/blacktrans.png); padding:5px 10px; line-height:1.3em; font-weight:normal; font-size:1.4em; margin-bottom:10px;}
#sidebar ul ul li {padding-bottom:8px;}
#sidebar ul ul li a {display:block; padding:3px 5px;}
#sidebar ul ul li a:hover {background:url(images/blacktrans.png);}
#sidebar p {color:#eee; padding:0 5px 10px 5px;}
#sidebar p a {border-bottom:1px dashed #a8ef9d;}
#sidebar p a:hover {background:url(images/blacktrans.png);}
#sidebar img {border:none; padding:0 5px;}
#sidebar img.avatar {float:left; padding:0 15px 5px 5px;}
#tag_cloud a, .widget_tag_cloud a {display:inline;}
#tag_cloud a:hover {color:#fff;}
li#tagbox a:hover {color:#fff;}
#sidebars ul.children li {border-bottom:none;}
#sidebars ul.children {margin-bottom:0;}



/************************************************
*          Footer       *
************************************************/
#footer {clear:both; background:url(images/blacktrans.png); font-size:0.8em;}
#footer .foot1 {float:left; width:310px; margin:10px 0 0 10px; display:inline;}
#footer .foot2 {float:left; width:310px; margin:10px 15px 0 15px;}
#footer .foot3 {float:left; width:310px; margin:10px 0 0 0;}
#footer h3 {font-weight:normal; font-size:1.4em; margin-bottom:.4em;}
#footer h4 {font-weight:normal; font-size:1em; margin:.8em 0 .2em 0; font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;}
#footer p {line-height:1.5em; color:#eee; padding:.2em 0 .8em 0;}
#footer ul li {padding:10px; margin-bottom:10px; background:url(images/blacktrans.png);}
#footer ul ul li {background:url(images/bullet.png) left 7px no-repeat; line-height:1.5em; padding:0 0 0 10px; margin-bottom:4px;}
#footer li a {font-weight:normal; display:block; padding:2px 5px;}
#footer a:hover {background:url(images/blacktrans.png);}
#footer .widget_tag_cloud a {display:inline;}
#footer .widget_tag_cloud a:hover {background:none; color:#fff;}

#credits {margin-top:.7em; font-size:0.7em; line-height:1.4em;}
#credits a {color:#ddd;}
#credits a:hover {background:url(images/blacktrans.png); color:#fff;}
#credits #creditsleft {float:left; width:600px; color:#aaa;}
#credits #creditsright {float:right; width:300px; text-align:right; color:#aaa;}



/************************************************
*          WP related          *
************************************************/
.alignleft {float:left; margin:5px 15px 7px 0;}
.alignright {float:right; margin:5px 0 7px 15px;}
.aligncenter, div.aligncenter {margin:10px auto; text-align:center; display:block;}

img.alignleft {float:left; margin:5px 15px 5px 0;}
img.alignright {float:right; margin:5px 0 5px 15px;}
img.aligncenter {margin:10px auto; text-align:center; display:block;}

.wp-caption {text-align:center; background:url(images/blacktrans.png); padding-top:6px;
  /* optional rounded corners for browsers that support it */
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
.wp-caption img {padding:0; margin:0; border: 0 none;}
.wp-caption p.wp-caption-text {font-size:11px; line-height:17px; padding:0 4px 5px; margin:0;}


ul, ul li {
	list-style-type: none !important; 
}
.tabs a{
	color: #000000;
	}
	.tabs a.active{
	color: #000000 !important;
	}
	table {
	margin:5px;
	font-size:14px;
	text-shadow:none !important;
	color: #000000 !important;
	}
	
	table a {
	color: #000000 !important;
	text-decoration:underline;
	}
table td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 8px;
	padding-left: 4px;
	color: #000000 !important;
}

li.leaf {
	list-style-image: none;
}

.messages {
	font-family: "Arial";
	text-shadow:none !important;
	font-size: 15px;
	}
	

.messages.error a {
	color: #0000FF !important;
}

.messages.error a:hover {
	color: #0000FF !important;
}

.messages.warning a {
	color: #0000FF !important;
}

.messages.warning a:hover {
	color: #0000FF !important;
}

li a.active {
	color: #FFFFFF !important;
}

h2 {
	margin:9px 5px 10px 1px;
	font-size:19px;
}

h3 {
	margin:9px 5px 10px 1px;
}

.theme-info h2{
	color: #000000 !important;
}

.theme-info .description {
		color: #000000 !important;
}